@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --Azul: #6FCACD;
    --AzulClaro: #6FCACD;
    --AzulEscuro: #0097B2;
    --Branco: #fff;
    --Black: #000000;
    --Verde: #007e87;
    --Cinza: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--Azul);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

