{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/pagina2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <title>Página Inicial</title>
    </head>

    <body>

        <div class="container">

            <div class="header">
                <img src="{% static 'img/preview.png' %}" alt="" class='logo'>
                <div class="title">
                    <h1>Você escolheu -> <span class="react"> React </span>!</h1>
                </div>
            </div>

            <ul class="questions">
                <li><a href="{% url 'pagina3' %}">O que é React e qual a sua função principal no desenvolvimento web?</a></li>
                <li><a href="{% url 'paginaInicial' %}">Explique o conceito de componentes no React e como eles se encaixam na construção de interfaces.</a></li>
                <li><a href="{% url 'paginaInicial' %}">O que é JSX e como ele facilita a criação de interfaces de usuário no React?</a></li>
                <li><a href="{% url 'paginaInicial' %}">Desvende o conceito de fluxo de dados unidirecional no React e seus benefícios na organização e previsibilidade do código.</a></li>
                <li><a href="{% url 'paginaInicial' %}">O que é o Virtual DOM e como ele otimiza a atualização da interface no React?</a></li>
                <li><a href="{% url 'paginaInicial' %}">Apresente os Hooks do React e demonstre como eles simplificam o gerenciamento de estado e outros recursos sem a necessidade de classes.</a></li>
            </ul>

        </div>

        <div class="back">
            <a href="{% url 'paginaInicial' %}"><img src="{% static 'img/seta-voltar.png' %}" alt="Voltar" class='seta'></a>
        </div> 

    </body>

</html>
