{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reactpagina2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <title>Página Inicial</title>
    </head>

    <body>

        <div class="container">

            <div class="header">
                <img src="{% static 'img/preview.png' %}" alt="" class='logo'>
                <div class="title">
                    <h1>Explique o conceito de componentes no <span class="react">React</span> e como eles se encaixam na construção de interfaces</h1>
                </div>
            </div>

            <div class="content">
                <p>
                    <strong class="destak">Definição de Componentes:</strong>Os componentes são blocos de construção reutilizáveis no React, que podem ser funcionais ou de classe. 
                    Eles recebem propriedades (props) para gerar interfaces dinâmicas e gerenciam dados internos através do estado (state).
                     Ao compor componentes menores, cria-se interfaces complexas de forma modular, promovendo reusabilidade, 
                     manutenção fácil, testabilidade e isolamento, resultando em um desenvolvimento escalável e eficiente.<br>
                </p>
            </div>

        </div>

        <div class="back">
            <a href="{% url 'reactpagina1' %}"><img src="{% static 'img/seta-voltar.png' %}" alt="Voltar" class='seta'></a>
        </div>

    </body>

</html>
