{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reactpagina2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <title>Página Inicial</title>
    </head>

    <body>

        <div class="container">

            <div class="header">
                <img src="{% static 'img/preview.png' %}" alt="" class='logo'>
                <div class="title">
                    <h1>O que é <span class="react">React</span> e qual a sua função principal <br>no desenvolvimento web?</h1>
                </div>
            </div>

            <div class="content">
                <p>
                    <strong class="destak">Biblioteca JavaScript para interfaces web:</strong> Crie interfaces dinâmicas e complexas com blocos reutilizáveis.<br>
                    <strong class="destak">Componentização:</strong> Organize o código, facilite a reutilização e a manutenção.<br>
                    <strong class="destak">Fluxo de dados unidirecional:</strong> Torne o código previsível e evite problemas.<br>
                    <strong class="destak">JSX:</strong> Crie interfaces com facilidade e escreva código mais intuitivo.
                </p>
            </div>

        </div>

        <div class="back">
            <a href="{% url 'reactpagina1' %}"><img src="{% static 'img/seta-voltar.png' %}" alt="Voltar" class='seta'></a>
        </div>

    </body>

</html>
